<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleCalc</title>
</head>
<body>
    <h1>SimpleCalc:</h1>
    <h2>Calculate simple</h2>
    <p>{result}</p>
    <div>{errors}</div>
    <form method="post">
        <input name="numone" placeholder="Number Slot One"/>
        <input name="var" placeholder="+, -"/>
        <input name="numtwo" placeholder="Number Slot Two"/>
        <input type="submit" value="Enter">
    </form>
</body>
</html>